<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>gABBLE</title>
    <link type="text/css" rel="stylesheet" href="./home.css"/>
</head>
<body>
    <div class="navContainer">
        <a href="/homepage">Gabble</a>
        <a href="/newgab">Create new gab</a>
        <a href="/homepage">Logged in as {{username}}</a>
        <a href="/logout">Log out</a>
    </div>

    <div class="likesContainer">
        <h1>Likes</h1>

        <div class="messages">
        {{#gabble2}}
            <p>{{username}}:{{messages}}<p>
            <button>Like</button>
            <p>Date</p>
            <p>{{likes}}</p>
        {{/gabble2}}
        </div>
    </div>
</body>
</html>