<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>gABBLE</title>
    <link type="text/css" rel="stylesheet" href="./home.css"/>
</head>
<body>
    <div class="navContainer">
        <a href="/homepage">Gabble</a>
        <a href="/newgab">Create new gab</a>
        <a href="/homepage">Logged in as {{username}}</a>
        <a href="/gabble2">Log out</a>
    </div>

    <div class="likedContainer">
        <h1>Who liked your post</h1>
        {{#gabble2}}
        <div class="message">
            <p>{{username}} : {{message}}</p>
            <p>Date</p>
        </div>
        <div class="Liked">
            <h1>Liked by</h1>
            {{username}}
        </div>
        {{/gabble2}}
    </div>
</body>
</html>