<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>gABBLE</title>
    <link type="text/css" rel="stylesheet" href="./home.css"/>
</head>
<body>
    <div class="navContainer">
        <a href="#">Gabble</a>
        <a href="#">Create new gab</a>
        <a href="#">Login</a>
        <a href="#">Sign up</a>
    </div>

    <div class="login">
        <h1>Login</h1>

        <div class="form">
            <form action="/homepage" method="post">
                <label>Username</label><br>
                <input type="text" name="username"><br>
                <label>Password</label><br>
                <input type="password" name="password">
                <input type="submit" value="log in">
            </form>
        </div>
    </div>
</body>
</html>