
.navContainer {
    background-color: #0000A0;
    padding: 2%;
}
a {
    flex-basis: 20px;
    color: red;
    font-size: 32px;
}
.login {
    color: #00FFFF;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 32px;
}